spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

  messages:
    # 경로/파일앞부분이름
    # "messages 폴더 안에 있는 message로 시작하는 파일들을 찾아라" 라는 뜻
    basename: messages/message
    encoding: UTF-8

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

logging:
  level:
    org.hibernate.SQL: debug